{% extends 'base.html' %}

{% block title %}Live In Nairobi - About{% endblock %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'about.css' %}">

    <div class="container-about">
        <h1 class="title-about">About Us</h1>

            <div class="body-about">
                <h2>Our Story</h2>

                <p>
                    Welcome to Live In Nairobi, your go-to source for the latest events, news, and stories in Nairobi and beyond. We are more than just a media company; we are a passionate team of individuals dedicated to capturing and celebrating the vibrant culture, entertainment, and lifestyle of this incredible city.
                </p>

                <h2>Our Mission</h2>

                <p>
                    At Live In Nairobi, our mission is to connect people through meaningful and engaging content. We aim to be the bridge that brings the community together by providing a platform to discover, share, and experience the best of what Nairobi has to offer. Our commitment is to deliver quality information, promote local talent, and create a positive impact on the cultural landscape.
                </p>

                <h2>What Sets Us Apart</h2>

                <p>
                    Our strength lies in our dedicated team of writers, photographers, and event enthusiasts who work tirelessly to curate content that resonates with our diverse audience. We strive for authenticity, creativity, and inclusivity in everything we do. Live In Nairobi is more than a media outlet; it's a community-driven platform where everyone's voice matters.
                </p>

                <h2>Join Us on the Journey</h2>

                <p>
                    We invite you to join us on this exciting journey as we continue to explore, celebrate, and connect. Whether you're a local artist, event organizer, or simply someone who loves to explore the city, Live In Nairobi is here for you. Let's make every moment count!
                </p>
            </div>
    </div>

{% endblock %}

