<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ event.title }}</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom CSS -->
    <style>
        /* Add custom styles here */
        body {
            padding: 20px;
        }
        h1, p {
            margin-bottom: 10px;
        }
        button {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>{{ event.title }}</h1>
        <p>County: {{ event.county }}</p>
        <p>Category Type: {{ event.get_category_type_display }}</p>
        <p>Location: {{ event.location }}</p>
        <p>Price: {{ event.price }}</p>
        <p>Organizer: {{ event.organizer.username }}</p>
        <p>Date: {{ event.date }}</p>
        <p>Time: {{ event.time }}</p>
        <p>Contact Email: {{ event.contact_email }}</p>
        <button class="btn btn-primary">
            <a href="{% url 'events:receipt' event.id %}" class="text-white">Generate Receipt</a>
        </button>
        <!-- Add more event details as needed -->
    </div>

    <!-- Bootstrap JS CDN (optional, depending on your requirements) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-JGscS0uoS2Kj36vVaxoXjv2nX3e5cWXwqEu6x3owkj8V6k9qkR0XpJzufIS6z7Rh" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCk5Bc3EYzvF3h1axtj0od+qPZyX6udo7h9a" crossorigin="anonymous"></script>
</body>
</html>
