{% extends 'base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'events.css' %}">

<div class="event-cards-container">
    {% for event in events|slice:":6" %}
    <div class="event-card">
        <div class="event-image">
            <img src="{{ event.image.url }}" alt="{{ event.title }}">
            <p class="event-category">{{ event.category_type }}</p>
        </div>
        <div class="event-details">
            <h2 class="event-title">{{ event.title }}</h2>

            <div class="event-meta">
                <div class="event-meta-day">
                    <div class="ribbon">
                        <svg xmlns="http://www.w3.org/2000/svg" class="clock-icon" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="12" y1="6" x2="12" y2="12"></line>
                            <line x1="12" y1="12" x2="16" y2="16"></line>
                        </svg>{{ event.time }}|{{ event.date }}
                    </div>
                    <p class="event-meta-location">
                        <svg xmlns="http://www.w3.org/2000/svg" class="location-icon" viewBox="0 0 30 30" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="12" cy="10" r="3"></circle>
                            <path d="M19 10c0 6-7 13-7 13s-7-7-7-13a7 7 0 0 1 14 0z"></path>
                        </svg> {{ event.location }}
                    </p>
                </div>

                <div class="event-meta-details">
                    <p><strong>Organizer:</strong> {{ event.organizer }}</p>
                    <svg xmlns="http://www.w3.org/2000/svg" class="email-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M22 4.01L12 11.91 2 4.01"></path>
                        <path d="M22 8.9v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V8.9l10 7.09 10-7.08z"></path>
                    </svg>
                    {{ event.contact_email }}
                </div>
                <div class="price">
                    <button><strong>Price:</strong> {{ event.price }}</button>
                </div>
                
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}