{% extends 'base.html' %}

{% block content %}
{% load static %}
<script src="{% static 'blog.js' %}"></script>

<div class="carousel">

    <div class="list">
        
        <div class="item">
            <img src="{% static '1.jpg' %}" alt="Description of the image">
            <div class="content">
                <div class="author"></div>
                <div class="title">Who Are We?</div>
                <div class="topic"></div>
                <div class="desc">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis qui sit consectetur quibusdam
                    ratione modi. Impedit aliquam quidem vero error alias omnis, quos possimus, quod delectus nemo,
                    exercitationem quaerat ea.
                </div>

                <div class="buttons">
                    <button><a href="/about">About Us</a></button>
                </div>
            </div>
            


        </div>

        <div class="item">
            <img src="{% static '2.jpg' %}" alt="Description of the image">
            <div class="content">
                <div class="author"></div>
                <div class="title">Blog</div>
                <div class="topic"></div>
                <div class="desc">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis qui sit consectetur quibusdam
                    ratione modi. Impedit aliquam quidem vero error alias omnis, quos possimus, quod delectus nemo,
                    exercitationem quaerat ea.
                </div>
                <div class="buttons">
                    <button><a href="/blog">Blog</a></button>
                </div>
            </div>
        </div>

        <div class="item">
            <img src="{% static '3.jpg' %}" alt="Description of the image">
            <div class="content">
                <div class="author"></div>
                <div class="title">Events</div>
                <div class="topic"></div>
                <div class="desc">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis qui sit consectetur quibusdam
                    ratione modi. Impedit aliquam quidem vero error alias omnis, quos possimus, quod delectus nemo,
                    exercitationem quaerat ea.
                </div>
                <div class="buttons">
                    <button><a href="/events">Check Them Out</a></button>
                </div>
            </div>
        </div>

        <div class="item">
            <img src="{% static '4.jpg' %}" alt="Description of the image">
            <div class="content">
                <div class="author"></div>
                <div class="title">Privacy Policy</div>
                <div class="topic"></div>
                <div class="desc">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis qui sit consectetur quibusdam
                    ratione modi. Impedit aliquam quidem vero error alias omnis, quos possimus, quod delectus nemo,
                    exercitationem quaerat ea.
                </div>
                <div class="buttons">
                    <button><a href="/policy">Read More</a></button>
                </div>
            </div>
        </div>

        <div class="item">
            <img src="{% static '5.jpg' %}" alt="Description of the image">
            <div class="content">
                <div class="author"></div>
                <div class="title">Contact Us</div>
                <div class="topic"></div>
                <div class="desc">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis qui sit consectetur quibusdam
                    ratione modi. Impedit aliquam quidem vero error alias omnis, quos possimus, quod delectus nemo,
                    exercitationem quaerat ea.
                </div>
                <div class="buttons">
                    <button><a href="/contact">Contact Us</a></button>
                </div>
            </div>
        </div>

        <div class="item">
            <img src="{% static '7.jpg' %}" alt="Description of the image">
            <div class="content">
                <div class="author">Siama</div>
                <div class="title">Design Slider</div>
                <div class="topic">Events</div>
                <div class="desc">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis qui sit consectetur quibusdam
                    ratione modi. Impedit aliquam quidem vero error alias omnis, quos possimus, quod delectus nemo,
                    exercitationem quaerat ea.
                </div>
                <div class="buttons">
                    <button>SEE MORE</button>
                    <button>SEE MORE</button>
                </div>
            </div>
        </div>

        <div class="item">
            <img src="{% static '8.jpg' %}" alt="Description of the image">
            <div class="content">
                <div class="author">Siama</div>
                <div class="title">Design Slider</div>
                <div class="topic">Events</div>
                <div class="desc">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis qui sit consectetur quibusdam
                    ratione modi. Impedit aliquam quidem vero error alias omnis, quos possimus, quod delectus nemo,
                    exercitationem quaerat ea.
                </div>
                <div class="buttons">
                    <button>SEE MORE</button>
                    <button>SEE MORE</button>
                </div>
            </div>
        </div>

    </div>

    <div class="thumbnail">
        <div class="item">
            <img src="{% static '1.jpg' %}" alt="Description of the image">
            <div class="content">
                <div class="title">
                    Name Slider
                </div>
                <div class="desc">
                    Description
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static '2.jpg' %}" alt="Description of the image">
            <div class="content">
                <div class="title">
                    Name Slider
                </div>
                <div class="desc">
                    Description
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static '3.jpg' %}" alt="Description of the image">
            <div class="content">
                <div class="title">
                    Name Slider
                </div>
                <div class="desc">
                    Description
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static '4.jpg' %}" alt="Description of the image">
            <div class="content">
                <div class="title">
                    Name Slider
                </div>
                <div class="desc">
                    Description
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static '5.jpg' %}" alt="Description of the image">
            <div class="content">
                <div class="title">
                    Name Slider
                </div>
                <div class="desc">
                    Description
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static '7.jpg' %}" alt="Description of the image">
            <div class="content">
                <div class="title">
                    Name Slider
                </div>
                <div class="desc">
                    Description
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static '8.jpg' %}" alt="Description of the image">
            <div class="content">
                <div class="title">
                    Name Slider
                </div>
                <div class="desc">
                    Description
                </div>
            </div>
        </div>
    </div>

    <div class="arrows">
        <button id="prev">
            <<button>
                <button id="next">></button>
    </div>
    <div class="time"></div>
</div>

{% endblock %}