/* Updated CSS for responsiveness and centering */
.event-cards-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: Poppins;
    background-color: #fff;
    color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Center the event cards horizontally */
}

.event-card {
    width: calc(33.33% - 20px);
    margin: 0 10px 20px;
    /* Add margin around event cards */
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    /* Include padding and border in the width calculation */
}

@media only screen and (max-width: 768px) {
    .event-card {
        width: calc(100% - 20px);
    }
}

.event-image {
    position: relative;
}

.event-image img {
    width: 100%;
    height: auto;
}

.event-category {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.event-details {
    padding: 20px;
}

.event-meta {
    display: flex;
    flex-direction: column;
}

.event-meta-day {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.event-meta-day .event-meta-location {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    line-height: 3rem;
    font-size: 16px;
}

.ribbon {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    line-height: 3rem;
    font-size: 16px;
}

.location-icon {
    width: 35px;
    height: 50px;
    margin-right: 5px; /* Adjust spacing between icon and text */
    vertical-align: middle;
}

.clock-icon {
    width: 25px;
    height: 35px;
    margin-right: 5px; /* Adjust spacing between icon and text */
    vertical-align: middle;
}

.email-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px; /* Adjust spacing between icon and text */
    vertical-align: middle;
}

.event-meta-details p {
    margin-bottom: 5px;
}

.price {
    text-align: center;
}

/* Media Query for responsiveness */
@media only screen and (max-width: 768px) {
    .event-card {
        width: calc(50% - 20px);
        /* Two cards per row on smaller screens */
    }
}

@media only screen and (max-width: 480px) {
    .event-card {
        width: calc(100% - 20px);
        /* One card per row on extra small screens */
    }
}